body {
  background-color: black; 
}

img {
    
}

#click-display {
    
}

#level-display {
    
}

h1 {
    color: white;
    background-color: red;
    border-radius: 25px;
    padding: 25px;
    display: inline-block;
}

#potato {
    position: relative;
}
